* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

video#bgvid {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background-size: cover;
    transition: 1s;
    opacity: .5;
}

.stopfade {
    opacity: .5;
}

header {
    padding: 50px;
}

header .logo{
    width: 400px;
    height: 150px;
    margin: 0 30%;
}

h1 {
    margin: 0 40%;
}

#vidpause {
    margin: 10px 40%;
}

.audioplayer {
    margin: 10px 36%;
}

.btn-more {
    color: white;
}

header button {
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #3166B0;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Poppins',sans-serif;
    font-weight:400;
    color:#2F68B2;
    text-align:center;
    transition: all 0.15s;
    background: transparent;
    cursor: pointer;
}

header button:hover{
    color:#89b3db;
    border-color:#89b3db;
}

canvas {
    border: 1px solid black;
    margin: 100px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.col {
    text-align: center;
    flex-basis: 25%;
    min-width: 200px;
    margin-bottom: 50px;
    padding: 30px;
}

#caracters {
    max-width: 1500px;
    margin: auto;
    padding: 0 25px;
    background: white;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

#caracters h2 {
    text-align: center;
    padding: 40px;
}

.col p {
    font-size: 14px;
}

.col img {
    width: 70%;
}

footer {
    text-align: center;
    margin: 50px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #3166B0;
    transition: 0.3s;
}

.progressbar {
    background-color: black;
    border-radius: 13px;
    /* (height of inner div) / 2 + padding */
    padding: 3px;
}
  
.progressbar > div {
    background-color: orange;
    width: 40%;
    /* Adjust with JavaScript */
    height: 20px;
    border-radius: 10px;
}